.bloghome_wrapper {
  margin: 10%;
  background-color: whitesmoke;
  border-radius: 10px 10px 20px rgba(0, 0, 0, 0.5);
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.bloghome_wrapper ul {
  list-style: none;
}
.bloghome_wrapper h2 {
  text-align: center;
  padding: 3%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.viewAll {
  display: flex;
  justify-content: center;
}
.linkViewAll {
  text-decoration: underline;
  color: inherit;
}
.blog-card {
  width: 16rem;
  height: 18rem;
  display: flex;
  flex-direction: column;

  border-radius: 15px;
  background: rgb(230, 229, 229);
  transform: transform 1ms ease-in-out;
  margin: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
.blog-card:hover {
  transform: scale(1.1);
  background: rgb(209, 209, 209);
  box-shadow: none;
}

.blogcards {
  display: flex;
  flex-wrap: wrap;
}
.thumbnailImg {
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.seoDes {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0rem 1rem;
}
