.light-tan-background {
  background-color: whitesmoke;
  margin: 0 8%;
  transition: all 1s;
  border-radius: 5%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
@font-face {
  font-family: " ivypresto-display";
  src: url("../assets/minion.otf");
}

body {
  margin: 0;
  padding: 0;
}
.hey-i-gireesh {
  display: flex;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;

  transition: opacity 0.3s, transform 0.3s;
}
.hey-i-gireesh.scrolled {
  display: flex;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  transform: translateY(0);
  padding: 0 5%;
}

.image {
  display: flex;
  justify-content: center;
}
h6 {
  font-size: 1.25rem;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 130%;
}
.headline {
  text-transform: uppercase;
  margin-top: calc(-5%);
  font-size: 5.5rem;
  line-height: 90%;
  letter-spacing: 0.75px;
  font-weight: 600;
  font-family: ivypresto-display, sans-serif;
}
.intro-p {
  margin-top: -2rem;
  font-size: 18 px;
}

@media (max-width: 920px) {
  .hey-i-gireesh.scrolled {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10%;
  }
  .headline {
    font-size: 3.5rem;
  }
}
@media (min-width: 920px) {
  .w-row {
    width: 50%;
  }
  .image {
    width: 50%;
  }
}
